# Python virtual environments
venv/
.venv/
env/

# Environment secrets
.env

# Python byte-code / cache
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
